body{
  background-color: $color-gray-1;
}

.app-section{

  @include flex-block-3();

  height: 100%;

  .app-row {

    @include flex-block-2();

  }

  .app-header {

    @include flex-block-2();

    height: $header-height;

    transition: all 0.5s ease-out;
    
    .block {

      background-color: $color-azure;

      @include fixed-block-1($percent-default, $header-height, 0, 0);

      @include flex-block-1();

      flex-wrap: nowrap;
      
      z-index: 3;

      transition: all 0.5s ease-out;

      .app-logo {
        
        @include flex-block-1();

        width: $nav-width;
        height: $header-height;

        background-color: $color-water-blue;

        justify-content: center;

        align-items: center;

        // .icons-logo-vivareal{
        //   width: 48px;
        //   height: 38px;
        // }

      }

      h1 {
        
        @include style-reset-1();

        align-self: center;
        
        font-size: 24px;
        line-height: 27px;
        font-weight: bold;

        color: $color-white-four;

        text-indent: $grid-gutter-width;
      }

    }

  }

  .app-nav {

    @include flex-block-2(0, 0, $nav-width);

    transition: all 0.5s ease-out;
    
    .block {

      @include fixed-block-1($nav-width, $nav-height, $header-height-space, 0);

      background-color: $color-twilight-blue;

      padding: ($grid-gutter-width / 2);

      z-index: 2;

      transition: all 0.5s ease-out;

    }
  
  }

  .app-main {

    @include flex-block-2(1, 1, 100%);

    transition: all 0.5s ease-out;

    .block {

      @include flex-block-4(0, 0, 100%);

      padding: $grid-gutter-width ($grid-gutter-width / 2);

      z-index: 1;

      transition: all 0.5s ease-out;

    }

  } 

}