<div class="block">
              
  <div class="container-fluid">

    <div class="row">
      
      <div class="col-xs-3">
          
        <div class="col-xs-12 tm-box-1">

          <fieldset class="form-group tm-fieldset-1">

            <h4>Filtro</h4>
            
            <div class="row">
            <div class="col-xs-6">
              
              <label for="propertyId">ID</label>
              <input id="propertyId" ng-model="propertyId" class="form-control" aria-label="property properties.id" type="text">

            </div>

            <div class="col-xs-6">
            
              <label for="propertyArea">ÁREA</label>
              <input id="propertyArea" ng-model="propertyArea" class="form-control" type="text">

            </div>
            </div>

          </fieldset>

          <fieldset class="form-group tm-fieldset-1">

            <div class="row">
              
              <div class="col-xs-6">
                
                <label for="propertyBed">QUARTOS</label>
                <input id="propertyBed" ng-model="propertyBed" class="form-control" type="text">

              </div>

              <div class="col-xs-6">
              
                <label for="propertyBath">BANHEIROS</label>
                <input id="propertyBath" ng-model="propertyBath" class="form-control" type="text">

              </div>

            </div>

          </fieldset>

          <fieldset class="form-group tm-fieldset-1">

            <div class="row linked">
              
              <div class="col-xs-6">
                
                <label for="propertyMinPrice">VALOR</label>
                <input id="propertyMinPrice" ng-model="propertyMinPrice" class="form-control" type="text" placeholder="Mínimo">

              </div>

              <div class="col-xs-6">
              
                <input id="propertyMaxPrice" ng-model="propertyMaxPrice" class="form-control" type="text" placeholder="Máximo">

              </div>

            </div>

          </fieldset>

        </div>

      </div>

      <div class="col-xs-9">
          
        <div class="col-xs-12 tm-box-1 grid-gutter-1">

          <!-- <article class="tm-media-1" > -->
          <article class="tm-media-1" ng-repeat="property in properties | filter:{id:propertyId} | filter:{squareMeters:propertyArea} | filter:{beds:propertyBed} | filter:{baths:propertyBath} | range:propertyMinPrice:propertyMaxPrice | limitTo:itemsPerPage as results" >
            
            <div class="galery">
              <img src="http://resizedimgs.vivareal.com/lDEQXgt10gptzBy68VeyYKu_L3k=/fit-in/480x0/vr.images.sp/6bbf0e58-262b-4d78-8041-7b2bd40cab57.jpg" alt="Exemplo de imóvel">
              <span class="price">
                {{property.price | currency}}
              </span>
            </div>

            <div class="content">

              <div class="box-1 type-1">

                <header>
                  
                  <span class="box-2">
                    ID. {{property.id}}
                  </span>

                  <h2>
                    {{property.title}}
                  </h2>

                  <p>
                    {{property.description}}
                  </p>

                </header>

              </div>
              <div class="box-1 type-2">
                
                <ul class="details">
                  
                  <li class="item">
                    <i class="icons-area"></i>
                    <span class="description">{{property.squareMeters}} M&sup2</span>
                  </li>
                  <li class="item">
                    <i class="icons-beds"></i>
                    <span class="description">{{property.beds | plural:"QUARTO"}}</span>
                  </li>
                  <li class="item">
                    <i class="icons-bathroom"></i>
                    <span class="description">{{property.baths | plural:"BANHEIRO"}}</span>
                  </li>

                </ul>

                <a href="/#/" class="app-btn-1">VISUALIZAR ANÚNCIO</a>

              </div>
              
            </div>

          
          </article>

          <article class="tm-media-1" ng-if="results.length === 0 && load === false" >
          
            <div class="content">

              <div class="box-1 type-1">
                <h2>Nenhum resultado encontrado</h2>
                <p class="style-reset-1">Por favor, realize um novo filtro.</p>
              </div>
            
            </div>
          
          </article>

          <article class="tm-media-1" ng-if="load === true" >
          
            <div class="content">

              <div class="box-1 type-1">
                <h2>Por favor, aguarde</h2>
                <p class="style-reset-1">Estamos carregando a lista de imóveis.</p>
              </div>
            
            </div>
          
          </article>

          <!-- <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
              Previous
          </button>
          {{currentPage+1}}/{{numberOfPages()}}
          <button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
              Next
          </button> -->

        </div>

      </div>

    </div>

  </div>

</div>